<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>@ViewBag.Title</title>    
    <link rel="icon" href="@Url.Content("~/favicon.ico")" mce_href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/public.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/login.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/common/js/ajax/jquery/jquery-1.7.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/login.js")"></script>
    
</head>

<body>
    @RenderBody()
</body>
</html>
