@{
    ViewBag.Title = Resources.HomePage;
}

<script type="text/javascript" src="@Url.Content("~/Scripts/index.js")"></script>

<h2>@ViewBag.Message</h2>
<p>
    @Resources.WelcomeVisit <a href="https://github.com/skygreen2001/Betterlife.Net" target="_blank" title="@Resources.SiteName">https://github.com/skygreen2001/Betterlife.Net</a>。
</p>
<p>@Resources.Like_Language:<span id="like_language"></span><br><a href="#" id="survey">@Resources.ClickMe</a></p>